#map {
  height: 400px;
  width: 100%;
  max-width: 768px;
  max-height: 512px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.row-content {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
}

a {
  color: #2cb5a0;
}